# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment files
.env
.env.local
.env.production

# Debug
npm-debug.log*

# TypeScript incremental cache
*.tsbuildinfo
next-env.d.ts
